<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".MiniApp1Activity"
            android:exported="false"
            android:label="@string/title_activity_mini_app1"
            android:theme="@style/Theme.MyMiniApp" />
    </application>

</manifest>